body{
  background: beige;
}
.App {
  text-align: center;
  background-color: black;
  color: beige;
  width: 75%;
  border-radius: 7px;
  height: 500px;
  margin: 5% auto;
  padding: 20px;
}
#todo-form input{
  height: 40px;
  margin: 5px 10px;
  width: 60%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  border: none;
}

#todo-form input:focus{
  outline: none;
}

#todo-form button{
  background-color: beige;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  width: 25%;
  margin: 5px 10px;
  height: 40px;
}

#todo-form button:focus{
  outline: none;
}

#todo-form button:hover{
  background-color: rgb(255, 117, 67);
  color: beige;
  font-weight: 600;
}
